.container {
 max-width: 525px; /* Change width to max-width */
  max-height: 529px; /* Change height to max-height */
 margin:auto;
 margin-top: 2rem;
 margin-bottom:auto;
 
  border-radius: 2rem;
  background-image: linear-gradient(180deg,rgb(36, 101, 242)0%,rgb(9, 20, 53)100%);
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 100%; /* Adjust the maximum width for smaller screens */
    max-height: auto; /* Allow height to adjust automatically */
    padding: 0 20px; /* Add padding for better spacing on smaller screens */
  }
}
.top-bar{
  display: flex;
  justify-content: center;
  gap: 14px;
  padding-top: 60px;
}
.top-bar input{
  display: flex;
  width: 362px;
  height: 45px;
  background-color: rgb(177, 215, 202);
  border:none;
  outline: none;
  border-radius: 2rem;
 padding-left: 20px;
 color: rgb(0, 0, 0);
 font-size: 1rem;
 font-weight: 400;
}
.search-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: rgb(177, 215, 202);
  border-radius: 2rem;
  cursor: pointer;
}
.weather-image{
  margin-top: 29px;
  display: flex;
  justify-content: center;
  height: 7rem;
} 
.weather-temp{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 3rem;
  font-weight: 400;
}
.weather-location{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 3rem;
  font-weight: 400;
}
.data-container{
  margin-top: 50px;
  color: white;
  display: flex;
  justify-content: center;

}
.element{
  margin: auto;
  display: flex;
  align-items: flex-start;
  gap: 12px;

}
.data{
  font-size: 34px;
  font-weight: 400;
}
.text{
  font-size: 20px;
  font-weight: 400;
}
.icon{
  margin-top: 10px;
}
body{
background-image: url('C:\Users\NAVIN\Desktop\weatherapp\src\components\Asset\upzr1w9waigb1.jpg');
}
